.blog-cards {
  margin-top: 50px;
  padding-bottom: 80px;

  // Add row styles for equal height columns
  .row {
    height: 100%;

    > [class*="col-"] {
      display: flex;
      margin-bottom: 30px;
    }
  }

  .blog-card {
    margin: 15px 0px;
    display: flex;
    width: 100%;

    .post-card {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      transition: transform 0.2s ease-in-out;
      position: relative;
      z-index: 1;
      text-decoration: none;
      color: inherit;
      box-shadow: 5px 5px 5px grey;

      &:hover {
        .card-image {
          &::after {
            opacity: 0.8;
          }

          img {
            transform: scale(1.05);
            filter: grayscale(0%);
          }
        }

        .card-title {
          background-color: $color4;
          transition: background-color 0.3s ease;
        }
      }

      .card-image {
        width: 100%;
        height: 300px;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          z-index: 1;
          filter: grayscale(100%);
          transition: all 0.5s ease, filter 0.3s ease;
        }
      }

      .card-title {
        padding: 15px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        background-color: $color3;
        transition: background-color 0.3s ease;
        font-family: $font2;

        h2 {
          font-size: 18px;
          margin: 0 0 0px 0;
          color: #fff;
          text-align: center;
        }

        p {
          margin-top: auto;
          font-size: 1rem;
          color: #fff;
          font-weight: 100;
          text-align: center;
        }
      }
    }
  }
}
.pagination {
  justify-content: center;
  display: flex;
  padding-bottom: 80px;
  font-size: 18px;
  font-family: $font2;
  .page-numbers {
    margin: 0px 5px;
    text-decoration: none;
    color: black;
  }
  .page-numbers:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 480px) {
  .blog-cards {
    margin-top: 30px;
  }
}
